<p>
  <em class="far fa-comment fa-fw"></em>
  <span>(9)</span>
</p>
<div class="media mb-2">
  <img class="mr-2 rounded-circle thumb32" src="/assets/user/02.jpg" alt="Image">
  <div class="media-body">
    <div>
      <p class="m-0">
        <a href="#">
        <strong>Admin</strong>
        </a>
      </p>
      <p class="m-0 text-muted">He keeps coming in late to maktab, please speak to his parent!</p>
      <small class="ml-auto text-muted"><a href="">Delete</a></small>
    </div>
  </div>
  <small class="ml-auto text-muted">12m ago</small>
</div>
<div class="media mb-2">
  <img class="mr-2 rounded-circle thumb32" src="/assets/user/02.jpg" alt="Image">
  <div class="media-body">
    <div>
      <p class="m-0">
        <a href="#">
        <strong>Wahmad</strong>
        </a>
      </p>
      <p class="m-0 text-muted">Excellento shot!</p>
      <small class="ml-auto text-muted"><a href="">Delete</a></small>
    </div>
  </div>
  <small class="ml-auto text-muted">30m ago</small>
</div>
<div class="media mb-2">
  <img class="mr-2 rounded-circle thumb32" src="/assets/user/02.jpg" alt="Image">
  <div class="media-body">
    <div>
      <p class="m-0">
        <a href="#">
        <strong>Admin</strong>
        </a>
      </p>
      <p class="m-0 text-muted">Nice shot!</p>
      <small class="ml-auto text-muted"><a href="">Delete</a></small>
    </div>
  </div>
  <small class="ml-auto text-muted">30m ago</small>
</div>
