<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="emailModalLabel">Send Email</h4>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <fieldset>
            <div class="form-group row">
              <label class="col-xl-3 col-form-label">Subject</label>
              <div class="col-xl-8">
                <input class="form-control" type="text" placeholder="Subject">
              </div>
            </div>
          </fieldset>
          <fieldset>
            <div class="form-group row">
              <label class="col-xl-3 col-form-label">Message</label>
              <div class="col-xl-8">
                <textarea class="form-control" rows="5"></textarea>
              </div>
            </div>
          </fieldset>
          <fieldset>
            <div class="form-group row">
              <label class="col-xl-3 col-form-label"><em class="fa-2x mr-2 fa fa-info-circle text-info"></em></label>
              <div class="col-xl-8">
                <p> An email will be sent to all the selected parents.</p>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
      <div class="modal-footer card-footer">
        <button class="btn btn-danger" type="button" data-dismiss="modal">Close</button>
        <button class="btn btn-primary" type="button">Send</button>
      </div>
    </div>
  </div>
