<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="gdprModalLabel">Permission</h4>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <fieldset>
            <div class="form-group row">
              <label class="col-xl-2 col-form-label"><em class="fa-4x mr-4 fa fa-info-circle text-info"></em></label>
              <div class="col-xl-8">
                <p> You are about to give permission to the selected students to view and amend their data. An email will be sent with a link. </p>
                <p> If you're not sure, please click on Close. </p>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
      <div class="modal-footer card-footer">
        <button class="btn btn-danger" type="button" data-dismiss="modal">Close</button>
        <button class="btn btn-primary" type="button">Give</button>
      </div>
    </div>
  </div>
