  .pagination-link .pagination{
    padding: 10px;
    float: right;
  }
.pagination-link .pagination .current{
  background-color: #5d9cec;
  color: #fff;
  padding: 5px;
  border: 1px solid #5d9cec;
  min-width: 30px;
  text-align: center;
}
.dataTable td{
  padding: 0.5rem;
}
.pagination-link .pagination a, .pagination-link .pagination span {
  padding: 0.5rem 0.75rem;
  border: 1px solid #dee2e6;
  color: #999;
  margin: 0;
  min-width: 32px;
  text-align: center;
  line-height: normal;
  margin-left: -1px;
}
/*.pagination-link .pagination a:first-child{
  border-left: none;
}*/
.previous_page::after{
  content: "«";
  color: #5d9cec;
  font-size: 16px;
  position: absolute;
  z-index: 999;
  /*font-family: 'simple-line-icons';*/
  left: 0;
  right: 0;
  top: 7px;
}
.next_page::after{
  content: "»";
  color: #5d9cec;
  font-size: 16px;
  position: absolute;
  z-index: 999;
  /*font-family: 'simple-line-icons';*/
  left: 0;
  right: 0;
  top: 7px;
}

.previous_page, .next_page{
  font-size: 0;
  position: relative;
}
.no_record_found{
  text-align: center;
}
/* For Desktop View*/
.hide-on-desktop, .mobile-view{
  display: none;
}
.mobile-view{
  margin-bottom: 15px;
  margin-left: 15px;
}

.pagination-link .pagination a:last-child{
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
.pagination-link .pagination a:first-child, .pagination-link .pagination span:first-child{
    margin-left: 0;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

/*Datatables */
#datatable1_wrapper table.dataTable thead > tr > th.sorting{
    padding-right: 25px;
  }
}

#datatable15_wrapper table.dataTable thead > tr > th.sorting{
    padding-right: 25px;
  }
}

/*Teacher page checkbox*/
.table .checkbox.table-check {
    width: auto;
    margin-left: 0;
  }

  /*For Student status*/
  input.btn-outline-success.active {
    background: #27c24c !important;
  }
  input.btn-outline-primary.active{
    background: #5d9cec !important;
  }
  input.btn-outline-warning.active{
    background: #ff902b !important;
  }
  input.btn-outline-info.active{
    background: #23b7e5 !important;
  }
  input.btn-outline-danger.active{
    background: #f05050 !important;
  }

/*For Mobile View*/
@media screen and (max-width: 767px) {
 .hide-on-desktop, .mobile-view{
    display: block;
  }
  .hide-on-mobile, .desktop-view{
    display: none;
  }
}

/*Level filter mobile view scroll*/
  @media screen and (max-width: 767px) {
  #level_filter_table{
    overflow-x: auto;
  }

/*Event filter mobile view scroll*/
@media screen and (max-width: 767px) {
#event_list_table{
  overflow-x: auto;
}

/*For student filter scroll*/
  @media screen and (max-width: 767px) {
  #student_list_table{
    overflow-x: auto;
  }

  /*Type mobile view scroll*/
   @media screen and (max-width: 767px) {
  #type_list_table{
    overflow-x: auto;
  }

  /*Parent filter mobile view scroll*/
  @media screen and (max-width: 767px) {
  #parent_filter_table{
    overflow-x: auto;
  }

/*Teacher filter mobile view scroll*/
  @media screen and (max-width: 767px) {
  #teacher_list_table{
    overflow-x: auto;
  }
